<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee Report</title>
    <style>
      header {
        display: flex;
        flex-direction: row;
        padding: 10px;
      }
      #clogo {
        width: 64px;
        height: 64px;
      }
      .left {
        width: 50%;
      }
      .right {
        width: 50%;
      }
      tr {
        margin: 4px 0px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="left">
        <img src="E:\Projects\Client Work\1-4-22\attendance_system\media\e8e081875b58aaf2e1721d7e37e00b371.jpg" id="clogo" alt="" />
      </div>
      <div class="right">
        <h1 style="margin: 0px">Test Company</h1>
        <span>Address Line ............................................., City, State, Country.</span>
      </div>
    </header>
    <h1 style="text-transform: uppercase">
      
      <u>YEARLY REPORT: 2022</u>
      
    </h1>
    <table>
      <tbody>
        <tr>
          <td><strong>Name: </strong></td>
          <td>Nomaan Akhtar</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>Status:</strong></td>
          <td>Active</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>Wage Per Hour</strong></td>
          <td>$10.0</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>Present Days: </strong></td>
          <td>2</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>Absent Days: </strong></td>
          <td>75</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>Hours Worked: </strong></td>
          <td>17</td>
        </tr>
        <tr></tr>
        <tr>
          <td><strong>Calculated Salary</strong></td>
          <td>$170.0</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
